
html {height:100%;}

body {background:#ffffff; font-family: Century Gothic, Arial, sans-serif;}

        #container { width:960px; height:auto; margin:0 auto; position:relative;}

        header {text-align:center; background:#fff; color:#000; padding-top:20px; padding-bottom:20px}
        header h1 {font-size:4em; text-align:center}

        h1, h2 {text-align:center}



        footer {clear:both; font-size:2em; padding-top:20px; padding-bottom:20px; background:#fff; text-align:center;
        color:#000; position:relative; z-index:1; bottom:0; width:100%}


        .tree-map {
                position:relative;
            margin-bottom:1.5em;
            margin-top:1.5em;
            min-height:650px;

        }

    .node {
            position:absolute;
        opacity:.65;

    }

    .node:hover {
       opacity:1;

    }

   

.spacer {
        height:300px;
}

.description {
        font-size:1.25em;
}

  .ui-tooltip, .arrow:after {
    background: #fff;
    border: 2px solid white;
  }
  .ui-tooltip {
    padding: 10px 20px;
    color: #000;
    border-radius: 20px;
    width:10%;
    text-align:center;
    font: bold 14px "Helvetica Neue", Sans-Serif;
    box-shadow: 0 0 7px black;
  }
 


#basic-stats {
        margin-bottom:5em;
}


.syns {
       float:left;
        width:150px;
        height:25px;
        background:rgb(93, 178, 177);
        margin-bottom:1.5em;
}

.h-point {
        float:left;
        width:150px;
        height:25px;
        background:rgb(255, 233, 121);
         margin-bottom:1.5em;
}

.auto {
        float:left;
        width:150px;
        height:25px;
        background:rgb(178, 85, 155);
         margin-bottom:1.5em;
}

.legend p {
        float:left;
        margin-bottom:1.5em;
        margin-left: 1em;
        font-weight:bold;
        vertical-align:center;
}

.clearfix {
        clear:both;
}
