
html {height:100%;}

body {background:#ffffff; font-family: Century Gothic, Arial, sans-serif;}

        #container { width:960px; height:auto; margin:0 auto; position:relative;}

        header {text-align:center; background:#fff; color:#000; padding-top:20px; padding-bottom:20px}
        header h1 {font-size:4em; text-align:center}

        h1, h2 {text-align:center}



        footer {clear:both; font-size:2em; padding-top:20px; padding-bottom:20px; background:#fff; text-align:center;
        color:#000; position:relative; z-index:1; bottom:0; width:100%}


        .tree-map {
                position:relative;
            margin-bottom:1.5em;
            margin-top:1.5em;
            min-height:650px;

        }

    .node {
            position:absolute;
        opacity:.65;

    }

    .node:hover {
       opacity:1;

    }

    #doughnut-i, #doughnut-y {
        position:relative;
        width:93%;
        margin-bottom:5em;
        min-height:400px;
    }

     #doughnut-i > svg, #doughnut-y > svg {
         position:absolute;
        width:50%;
         left:0;
         border-right:5px solid #CCC;

    }

#i-box, #my-box, #we-box, #our-box, #you-box, #your-box {

    position:absolute;
    width:94%;
    height:300px;
    top:75px;
   left:0;
    overflow-y:scroll;
    font-size:1.25em;

    margin-bottom:3em;
    visibility:hidden;
    padding:3%;
}

.spacer {
        height:300px;
}

.description {
        font-size:1.25em;
}



.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    background:#000;
    color:#fff;
}

.ui-widget {
    font-family: Open Sans;
}

.donut form {
   margin:0 auto;
    position:relative;
    text-align:center;
    z-index:100;
}
.radio {
        width:auto;
}

.donut {
    position:relative;
    float:right;
    width:43%;
}

#basic-stats {
        margin-bottom:5em;
}